        <div class="row no-gutters footer-nav">
            <div class="col-12">
                <ul>
                    <li>
                        <a class="d-block d-md-none" href="#">Top</a>
                        <a class="d-none d-md-inline-block" href="#">Top of Page</a>
                    </li>
                    <li><a href="{{ url_for('viewUserRuns') }}">Manage Runs</a></li>
                    <li><a href="{{ url_for('addUserRun') }}">Add Run</a></li>
                </ul>
            </div>
        </div>
        <div class="row footer-copyright">
            <div class="col-12">
                <p>2018 -<script>document.write(new Date().getFullYear());</script> &copy; Thomas Jones - All Rights Reserved</p>
            </div>
        </div>