{% macro loginForm(title, name, placeholder, button) %}
    <h3 id="auth-form">{{ title }}</h3>
    <form method="POST">
        <div class="row">
            <div class="form-group col-8 floating-label-form-group controls">
                <input type="text" class="form-control" name="{{ name }}" id="{{ name }}" placeholder="{{ placeholder }}">
                <p class="help-block text-danger"></p>
            </div>
            <div id="success"></div>
            <div class="form-group col-4 floating-label-form-group controls">
                {% if button == "login" %}
                    <button type="submit" class="btn qc-data-btn">Login</button>
                {% elif button == "signup" %}
                    <button type="submit" class="btn qc-data-btn signup-btn">Sign Up</button>
                {% endif %}
            </div>
        </div>
    </form>
{% endmacro %}