{% macro loginForm(title, name, placeholder) %}
    <h3 id="auth-form">{{ title }}</h3>
    <form method="POST">
        <div class="row">
            <div class="form-group col-8 floating-label-form-group controls">
                <input type="text" class="form-control" name="{{ name }}" id="{{ name }}" placeholder="{{ placeholder }}">
                <p class="help-block text-danger"></p>
            </div>
            <div id="success"></div>
            <div class="form-group col-2 floating-label-form-group controls">
                <button type="submit" class="btn qc-data-btn" id="sendMessageButton">Send</button>
            </div>
        </div>
    </form>
{% endmacro %}