{% macro userListForm(dataList, selectName, buttonValue) %}
<div class="form-group col-6 floating-label-form-group controls">
    <select name="{{ selectName }}" class="form-control">
        {% for data in dataList %}
            {% for key, value in data.items() %}
                <option  value="{{ value }}">{{ value }}</option>
            {% endfor %}
        {% endfor %}
    </select>
</div>
<div class="form-group">
    <button type="submit" name="formButton" value="{{ buttonValue }}" class="btn qc-data-btn">Select</button>
</div>
{% endmacro %}