{% extends 'layout/base-user.html' %}

{% block content %}

    <!-- ADD-NEW-DATA -->
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                {% include '/components/messages/flash-message.html' %}

                <h4 class="data-list-title">Add New Run:</h4> 
                {% include '/components/forms/add-run-form.html' %}
            </div>
        </div>
    </section>
    <!-- ADD-NEW-DATA-END -->

{% endblock content %}