{% extends 'layout/base-admin.html' %}
{% block content %}

    <section class="container">
        <h3>Continue As:</h3>
        <hr>
        <div class="row justify-content-center">
 
            <div class="col-10 col-sm-6 col-md-5 col-lg-4">
                <h4 class="image-title">User</h4>
                <a href="{{ url_for('user', username=username) }}">
                <div class="overlay-container">
                    <img class="img-overlay" src="{{ url_for('static', filename='images/users.png') }}" alt="users">
                    <div class="overlay">
                    <div class="overlay-text">Continue as User</div>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-10 col-sm-6 col-md-5 col-lg-4">
                <h4 class="image-title">Admin</h4>
                <a href="{{ url_for('admin', username=username) }}">
                <div class="overlay-container">
                    <img class="img-overlay" src="{{ url_for('static', filename='images/experiment.jpg') }}" alt="experiments">
                    <div class="overlay">
                    <div class="overlay-text">Continue as Admin</div>
                    </div>
                </div>
                </a>
            </div>

        </div>
    </section>

{% endblock content %}