{% extends 'layout/base.html' %}

{% block content %}
{% import "components/forms/data-list-form.html" as dataListForm %}

    <!-- SELECT-USER -->
    <section class="container" id="userFormBg">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6">

                <h4 class="data-list-title">Select User:</h4>
                {{ dataListForm.dataListForm(userList, "user", "user", "userRuns") }}
            </div>
        </div>
    </section>
    <!-- SELECT-USER-END -->

    <!-- VIEW-USER -->
    <section class="container" id="viewUserBg">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-8 col-md-6 col-lg-4">
                <div class="data-list">
                    <h4 class="data-list-title">User: {{ selectedUserName }}</h4> 
                    {% for data in selectedUser %}
                    <ul class="user-run">
                        <li>Membership: <span>{{ data.member|capitalize }}</span></li>
                        <li>Date Joined: <span>{{ data.joined.date }}</span></li>
                        <li>Time Joined: <span>{{ data.joined.time }}</span></li>
                    </ul>
                    {% endfor %}
                </div>
    
                <a href="{{ url_for('adminDeleteUser') }}" class="btn qc-data-btn qc-data-btn--delete" id="deleteRun">Delete</a>
                <a href="{{ url_for('adminUpdateUser') }}" class="btn qc-data-btn qc-data-btn--update" id="updateRun">Update</a>
                <a href="{{ url_for('adminSelectUser') }}" class="btn qc-data-btn">Return</a>
            </div>
        </div>
    </section>
    <!-- VIEW-USER-END -->

{% endblock content %}

{% block javascript %}

    <script>let pageLocation = JSON.parse({{ pageLocation|tojson }});</script>
    <script src="/static/js/adminSelectUser.js"></script>

{% endblock javascript %}