{% extends 'layout/base.html' %}

{% block content %}
{% import "components/forms/data-list-form.html" as dataListForm %}
{% import "components/forms/user-list-form.html" as userListForm %}
{% import "components/lists/data-list.html" as dataList %}

{% if pageLocation == "userForm" %}

    <!-- USER-DATA-FORM -->
    <section class="container" id="userFormBg">
        <h3>Manage User Runs</h3>
        <div class="hr"></div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">

                <form method="POST">
                    <h4 class="data-form-title">Select User:</h4>
                    <div class="row">
                        {{ userListForm.userListForm(userList, "username", "userRuns") }}
                    </div>
                    <h4 class="data-form-title">Filter Runs:</h4>
                    <div class="row">
                        {% include '/components/forms/filter-run-fields.html' %}
                    </div>
                </form>

            </div>
        </div>
    </section>
    <!-- USER-DATA-FORM-END -->

{% elif pageLocation == "userRuns" %}

    <!-- VIEW-RUNS -->
    <section class="container" id="userRunsBg">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-10 col-md-10 col-lg-9 col-xl-7">
                <div class="data-list">
                    <h4 class="data-list-title">User: {{ selectedUser }}</h4> 
                    {% include '/components/messages/flash-message.html' %}
                    {{ dataList.dataList(userRuns, "userRuns") }}
                    <a href="{{ url_for('adminSelectRuns', username=username) }}" class="btn qc-data-btn">Return</a>
                </div>
    
                <div id="selectRunForm">
                    <h4 class="data-list-title">Select Run:</h4>
                    {{ dataListForm.dataListForm(userRuns, "pool", "poolNumber", "userRun") }}
                </div>

            </div>
        </div>
    </section>
    <!-- VIEW-RUNS-END -->

{% elif pageLocation == "userRun" %}

    <!-- VIEW-RUN -->
    <section class="container" id="userRunBg">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-8 col-md-6 col-lg-4">
                <div class="data-list">
                    <h4 class="data-list-title">User: {{ selectedUser }}</h4> 
                    {% include '/components/messages/flash-message.html' %}
                    {{ dataList.dataList(selectedUserRun, "userRun") }}
                </div>
    
                <a href="{{ url_for('deleteRun', username=username) }}" class="btn qc-data-btn qc-data-btn--delete" id="deleteRun">Delete</a>
                <a href="{{ url_for('updateRun', username=username) }}" class="btn qc-data-btn qc-data-btn--update" id="updateRun">Update</a>
                <a href="{{ url_for('adminSelectRuns', username=username) }}" class="btn qc-data-btn">Return</a>
            </div>
        </div>
    </section>
    <!-- VIEW-RUN-END -->

{% endif %}

{% endblock content %}