{% extends 'layout/base.html' %}

{% block content %}
{% import "components/lists/data-list.html" as dataList %}

    <!-- DELETE-USER -->
    <section class="container" id="viewUserBg">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-8 col-md-6 col-lg-5">
                {% include '/components/messages/flash-message.html' %}
                <div class="data-list">
                    <h4 class="data-list-title delete-user">User: {{ selectedUserName }}</h4> 
                    <div id="deleteUserList">{{ dataList.dataList(selectedUser, "selectedUser") }}</div>
                </div>

                {% if pageLocation == "deleteUserForm" %}    
                    <form method="POST" id="deleteUserForm">
                        <h4 class="data-list-title delete-user">Delete User: </h4> 
                        <label class="radio-inline"><input type="radio" name="radio" value="yes">Yes</label>
                        <label class="radio-inline"><input type="radio" name="radio" value="no" checked>No</label>
                    </form>

                    <button form="deleteUserForm" type="submit" name="deleteUserButton" value="deleteUser" class="btn qc-data-btn qc-data-btn--delete" id="deleteUserButton">Delete</button>
                {% endif %}
                <a href="{{ url_for('adminSelectUser', username=username) }}" class="btn qc-data-btn">Return</a>

            </div>
        </div>
    </section>
    <!-- DELETE-USER-END -->

{% endblock content %}