{% extends 'layout/base.html' %}
{% block content %}

    <!-- DELETE-USER -->
    <section class="container" id="viewUserBg">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-8 col-md-6 col-lg-4">
                {% include '/components/messages/flash-message.html' %}
                <div class="data-list">
                    <h4 class="data-list-title delete-user">User: {{ selectedUserName }}</h4> 
                    {% for data in selectedUser %}
                    <ul id="deleteUserList" class="user-run">
                        <li>Membership: <span>{{ data.member|capitalize }}</span></li>
                        <li>Date Joined: <span>{{ data.joined.date }}</span></li>
                        <li>Time Joined: <span>{{ data.joined.time }}</span></li>
                    </ul>
                    {% endfor %}
                </div>
                <form method="POST" id="deleteUserForm">
                    <h4 class="data-list-title delete-user">Delete User: </h4> 
                    <label class="radio-inline"><input type="radio" name="radio" value="yes">Yes</label>
                    <label class="radio-inline"><input type="radio" name="radio" value="no" checked>No</label>
                </form>
    
                <button form="deleteUserForm" type="submit" name="deleteUserButton" value="deleteUser" class="btn qc-data-btn qc-data-btn--delete" id="deleteUserButton">Delete</button>
                <a href="{{ url_for('adminSelectUser') }}" class="btn qc-data-btn">Return</a>

            </div>
        </div>
    </section>
    <!-- DELETE-USER-END -->

{% endblock content %}

{% block javascript %}

    <script>let pageLocation = JSON.parse({{ pageLocation|tojson }});</script>
    <script src="/static/js/deleteUser.js"></script>

{% endblock javascript %}