{% extends 'layout/base.html' %}

{% block content %}
{% import "components/modals/modal-image-link.html" as modalImageLink %}

    <section class="container">
        <h3>Admin Page</h3>
        <div class="hr"></div>
        <div class="row justify-content-center">
            <div class="col-10 col-sm-6 col-md-5 col-lg-4">
                {{ modalImageLink.modalImageLink("adminSelectRuns", "Manage Runs", "experiment", "Sequencing Runs", username) }}
            </div>
            <div class="col-10 col-sm-6 col-md-5 col-lg-4">
                {{ modalImageLink.modalImageLink("adminSelectUser", "Manage Users", "users", "Sequencing Users", username) }}
            </div>
        </div>
    </section>

{% endblock content %}