{% extends 'layout/base.html' %}

{% block content %}
{% import "components/forms/login-form.html" as loginForm %}

    <section class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-lg-6">
                {% include '/components/messages/flash-message.html' %}
                {% if active == "login" %}
                    {{ loginForm.loginForm("Enter Username:", "username", "enter a username", "login") }}
                {% elif active == "signup" %}
                    {{ loginForm.loginForm("Select Username:", "newUsername", "select a username", "signup") }}
                {% endif %}
                {% if loginFail == True and active == "signup" %}
                    <a class="btn qc-data-btn" href="{{ url_for('login') }}">Login</a>
                {% elif loginFail == True and active == "login" %}
                    <a class="btn qc-data-btn signup-btn" href="{{ url_for('signup') }}">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock content %}