{% extends 'layout/base.html' %}

{% block content %}
{% import "components/lists/data-list.html" as dataList %}
{% import "components/forms/delete-run-form.html" as deleteRunForm %}

    <!-- DELETE-USER-RUN -->
    <section class="container" id="viewUserBg">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-8 col-md-6 col-lg-4">
                {% include '/components/messages/flash-message.html' %}
                <div class="data-list">
                    <h4 class="data-list-title delete-user">User: {{ username }}</h4> 
                    {{ dataList.dataList(userRun, "deleteRun") }}
                </div>
                {% if page == "delete-run" and admin == True %}
                    {{ deleteRunForm.deleteRunForm("adminSelectRuns", "adminForm") }}
                {% elif page == "delete-run" and admin == False %}
                    {{ deleteRunForm.deleteRunForm("viewUserRuns", "userForm") }}
                {% endif %}
            </div>
        </div>
    </section>
    <!-- DELETE-USER-RUN-END -->

{% endblock content %}

{% block javascript %}

    <script>let pageLocation = JSON.parse({{ pageLocation|tojson }});</script>
    <script src="/static/js/deleteRun.js"></script>

{% endblock javascript %}