{% extends 'layout/base.html' %}
{% block navbar %}

    <nav class="navbar navbar-expand-sm navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='images/qc-metrics-analyser-logo.png') }}" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link login-btn" href="{{ url_for('login') }}">Login</a></li>
                <li class="nav-item"><a class="nav-link login-btn signup-btn" href="{{ url_for('signup') }}">Sign Up</a></li>
            </ul>
        </div>
    </nav>

{% endblock navbar %}

{% block content %}
{% import "components/modals/modal-link.html" as modalLink %}
{% import "components/modals/modal-chart.html" as modalChart %}

   <!--SEQUENCING-RUNS-->
    <section class="container">
        <h3>Sequencing Run Metrics</h3>
        <hr>

        <div class="row justify-content-center">
            <div class="col-10 col-sm-5 col-md-5 col-lg-4">
                {{ modalLink.modalLink("Yield", "yields")}}
                {{ modalChart.modalChart("Yield - Gigabases", "yields", runData)}}
            </div>

            <div class="col-10 col-sm-5 col-md-5 col-lg-4">
                {{ modalLink.modalLink("Cluster Density", "clusterDensity")}}
                {{ modalChart.modalChart("Cluster Density - K/mm2", "clusterDensity", runData)}}               
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-10 col-sm-5 col-md-5 col-lg-4">
                {{ modalLink.modalLink("Pass Filter", "passFilter")}}
                {{ modalChart.modalChart("Pass Filter - %", "passFilter", runData)}}               
            </div>

            <div class="col-10 col-sm-5 col-md-5 col-lg-4">
                {{ modalLink.modalLink("Q30 Score", "q30Score")}}
                {{ modalChart.modalChart("Q30 Score - %", "q30Score", runData)}}               
            </div>
        </div>
        
        
        <!-- <div id="passFilterModal" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content qc-data">
                    <div class="modal-header qc-data-header">
                        <h4 class="modal-title">Pass Filter - %</h4>
                    </div>
                    <div class="modal-body qc-data-list">
                        <ul class="d-none d-md-block">
                            <li>Average: {{ runData.passFilter.average|int() }}</li>
                            <li>Minimum: {{ runData.passFilter.minimum|int() }}</li>
                            <li>Maximum: {{ runData.passFilter.maximum|int() }}</li>
                        </ul>
                        <div id="passFilterChartContainer" class="chart-container">
                            <canvas id="passFilter-chart"></canvas>
                        </div>
                    </div>
                    <div class="modal-footer qc-data-footer">
                        <button type="button" class="btn qc-data-btn" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div id="q30Modal" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content qc-data">
                    <div class="modal-header qc-data-header">
                        <h4 class="modal-title">Q30 Score - %</h4>
                    </div>
                    <div class="modal-body qc-data-list">
                        <ul class="d-none d-md-block">
                            <li>Average: {{ runData.q30.average|int() }}</li>
                            <li>Minimum: {{ runData.q30.minimum|int() }}</li>
                            <li>Maximum: {{ runData.q30.maximum|int() }}</li>
                        </ul>
                        <div id="q30ChartContainer" class="chart-container">
                            <canvas id="q30-chart"></canvas>
                        </div>
                    </div>
                    <div class="modal-footer qc-data-footer">
                        <button type="button" class="btn qc-data-btn" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
    <!--SEQUENCING-RUNS-END-->

    <!--OTHER-SEQUENCING-METRICS-->
    <section class="container">
        <h3>Other Sequencing Metrics</h3>
        <hr>
        <div class="row justify-content-center other-metrics">
            <div class="col-10 col-sm-5 col-md-5 col-lg-4">
                {{ modalLink.modalLink("Chemistry", "chemistry") }}
                {{ modalChart.modalChart("Chemistry", "chemistry", experimentData) }}            

                <!-- <h4 class="page-subtitle">Chemistry</h4>
                <a data-toggle="modal" data-target="#chemistryModal">
                <div class="overlay-container-5">
                    <img class="img-overlay" src="{{ url_for('static', filename='images/chemistry.jpg') }}" alt="homepage-5">
                    <div class="overlay">
                    <div class="overlay-text">Sequencing Chemistry</div>
                    </div>
                </div>
                </a> -->
            </div>

            <div class="col-10 col-sm-5 col-md-5 col-lg-4">
                {{ modalLink.modalLink("Experiments", "experiment") }}
                {{ modalChart.modalChart("Experiments", "experiment", experimentData) }}            

                <!-- <h4 class="page-subtitle">Experiments</h4>
                <a data-toggle="modal" data-target="#experimentModal">
                <div class="overlay-container-6">
                    <img class="img-overlay" src="{{ url_for('static', filename='images/experiments.jpg') }}" alt="experiments">
                    <div class="overlay">
                    <div class="overlay-text">Sequencing Experiments</div>
                    </div>
                </div>
                </a> -->
            </div>
        </div>

        <!-- <div id="chemistryModal" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content qc-data">
                    <div class="modal-header qc-data-header">
                        <h4 class="modal-title">Chemistry</h4>
                    </div>
                    <div class="modal-body qc-data-list">
                        <ul>
                            <li>High300: {{ experimentData.high300 }}</li>
                            <li>Mid300: {{ experimentData.mid300 }}</li>
                            <li>Mid150: {{ experimentData.mid150 }}</li>
                        </ul>
                        <div class="chart-container">
                            <canvas id="chemistry-chart"></canvas>
                        </div>
                    </div>
                    <div class="modal-footer qc-data-footer">
                        <button type="button" class="btn qc-data-btn" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div id="experimentModal" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content qc-data">
                    <div class="modal-header qc-data-header">
                        <h4 class="modal-title">Experiment</h4>
                    </div>
                    <div class="modal-body qc-data-list">
                        <ul>
                            <li>Genome: {{ experimentData.genome }}</li>
                            <li>Exome: {{ experimentData.exome }}</li>
                            <li>Capture: {{ experimentData.capture }}</li>
                        </ul>
                        <div class="chart-container">
                            <canvas id="experiment-chart"></canvas>
                        </div>
                    </div>
                    <div class="modal-footer qc-data-footer">
                        <button type="button" class="btn qc-data-btn" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
    <!--OTHER-SEQUENCING-METRICS-END-->

{% endblock content %}

{% block footer_navbar %}

    <div class="row no-gutters footer-nav">
        <div class="col-12">
            <ul>
                <li>
                    <a href="#"><i class="fas fa-arrow-circle-up"></i>Top</a>
                </li>
            </ul>
            <ul>
                <li><a class="footer-btn footer-login-btn" href="{{ url_for('login') }}">Login</a></li>
                <li><a class="footer-btn footer-signup-btn" href="{{ url_for('signup') }}">Sign Up</a></li>
            </ul>
        </div>
    </div>

{% endblock footer_navbar %}

{% block javascript %}

    <script>
        let labels = [{% for data in linechartData.pools %}{{ data }},{% endfor %}];
        let yields = [{% for data in linechartData.yields %}{{ data }},{% endfor %}];
        let clusterDensity = [{% for data in linechartData.clusterDensity %}{{ data }},{% endfor %}];
        let passFilter = [{% for data in linechartData.passFilter %}{{ data }},{% endfor %}];
        let q30 = [{% for data in linechartData.q30 %}{{ data }},{% endfor %}];
        let chemistries = [];
        let experiments = [];
        chemistries.push({{ experimentData.chemistry.high300 }});
        chemistries.push({{ experimentData.chemistry.mid300 }});
        chemistries.push({{ experimentData.chemistry.mid150 }});
        experiments.push({{ experimentData.experiment.genome }});
        experiments.push({{ experimentData.experiment.exome }});
        experiments.push({{ experimentData.experiment.capture }});
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="/static/js/graphs.js"></script>

{% endblock javascript %}