{% extends 'layout/base.html' %}

{% block content %}
{% import "components/forms/login-form.html" as loginForm %}

    <section class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-lg-6">
                {% include '/components/messages/flash-message.html' %}

                <h3 class="login-form">Enter Username:</h3>
                <br>
                {{ loginForm.loginForm("username", "enter a username") }}

            </div>
        </div>
    </section>

{% endblock content %}