{% extends 'layout/base.html' %}

{% block content %}
{% import "components/modals/modal-image-link.html" as modalImageLink %}

    <section class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h3>Goodbye {{ username }}</h3>
                <hr>
                <div class="col-10 col-sm-6 col-md-5 col-lg-4">
                    {{ modalImageLink.modalImageLink("admin", "Admin", "experiment", "Return to Homepage", username) }}
                </div>
                <h4>You have successfully logged out</h4>
                <div class="text-center">
                    <a href="{{ url_for('index') }}" class="btn qc-data-btn">Home</a>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}