{% extends 'layout/base.html' %}
{% block content %}

    <section class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h3>Permission Denied</h3>
                <hr>
                <h4>You do not have permission to go to that page!</h4>
                <div class="text-center">
                    <a href="{{ url_for('index') }}" class="btn qc-data-btn">Go Back</a>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
