{% extends 'layout/base-admin-runs.html' %}

{% block content %}
{% import "components/forms/update-run-form.html" as updateRunForm %}

    <!-- UPDATE-RUN -->
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                {% include '/components/messages/flash-message.html' %}
                <h4 class="data-list-title">Update Pool {{ existingPoolNumber }}</h4> 
                {% if page == "update-run" and admin == True %}
                    {{ updateRunForm.updateRunForm(userRun, "admin-select-runs", chemistryList, experimentList, "adminForm") }}
                {% elif page == "update-run" and admin == False %}
                    {{ updateRunForm.updateRunForm(userRun, "view-user-runs", chemistryList, experimentList, "userForm") }}
                {% endif %}
            </div>
        </div>
    </section>
    <!-- UPDATE-RUN-END -->

{% endblock content %}