{% extends 'layout/base-user.html' %}

{% block content %}
{% import "components/forms/data-list-form.html" as dataListForm %}
{% import "components/lists/data-list.html" as dataList %}

    <!-- USER-DATA-FORM -->
    <section class="container" id="userFormBg">
        <h3>Manage Runs</h3>
        <hr>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <h4 class="data-form-title">Select Run:</h4>
                {{ dataListForm.dataListForm(userRunList, "pool", "poolNumber", "userRun") }}

                <h4 class="data-form-title">Filter Runs:</h4>
                <form method="POST">
                    <div class="row">
                        {% include '/components/forms/filter-run-fields.html' %}
                        <div class="form-group col-6 floating-label-form-group controls">
                            <button type="submit" name="formButton" value="userRuns" class="btn qc-data-btn" id="userRunsButton">Filter Runs</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </section>
    <!-- USER-DATA-FORM-END -->

    <!-- VIEW-USER-RUNS -->
    <section class="container" id="userRunsBg">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-10 col-md-10 col-lg-9 col-xl-7">
                <div class="data-list">
                    <h4 class="data-list-title">{{ username }}'s Run Data:</h4> 
                    {% include '/components/messages/flash-message.html' %}
                    {{ dataList.dataList(userRuns, "userRuns") }}
                </div>    
                <div id="selectFilteredRunForm" class="">
                    <h4 class="data-list-title">Select Run:</h4>
                    {{ dataListForm.dataListForm(userRuns, "pool", "poolNumber", "userRun") }}
                </div>

            </div>
        </div>
    </section>
    <!-- VIEW-USER-RUNS-END -->

    <!-- VIEW-USER-RUN -->
    <section class="container" id="userRunBg">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-8 col-md-6 col-lg-4">
                <div class="data-list">
                    <h4 class="data-list-title">{{ username }}'s Run Data:</h4> 
                    {% include '/components/messages/flash-message.html' %}
                    {{ dataList.dataList(userRun, "userRun") }}
                </div>
                <a href="{{ url_for('deleteRun') }}" class="btn qc-data-btn qc-data-btn--delete" id="deleteRun">Delete</a>
                <a href="{{ url_for('updateRun') }}" class="btn qc-data-btn qc-data-btn--update" id="updateRun">Update</a>
                <a href="{{ url_for('viewUserRuns') }}" class="btn qc-data-btn">Return</a>
            </div>
        </div>
    </section>
    <!-- VIEW-USER-RUN-END -->

{% endblock content %}

{% block javascript %}

    <script>let pageLocation = JSON.parse({{ pageLocation|tojson }});</script>
    <script src="/static/js/viewUserRuns.js"></script>

{% endblock javascript %}
