<div class="row no-gutters footer-nav">
    <div class="col-12">
        <ul>
            <li>
                <a href="#" id="backToTop" class="back-to-top btn-float active" title="Back to top">
                    <i class="fas fa-chevron-circle-up fa-3x"></i>
                </a>
            </li>
        </ul>
        <ul>
            <li><a href="{{ url_for('admin', username=username) }}"><i class="fas fa-user-plus"></i>Admin</a></li>
            <li><a href="{{ url_for('adminSelectRuns') }}"><i class="fas fa-sort-amount-up"></i>Manage Runs</a></li>
            <li><a class="footer-btn footer-login-btn" href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </div>
</div>