<div class="row no-gutters footer-nav">
    <div class="col-12">
        <ul>
            <li>
                <a href="#" id="backToTop" class="back-to-top btn-float active" title="Back to top">
                    <i class="fas fa-chevron-circle-up fa-3x"></i>
                </a>
            </li>
        </ul>
        <ul>
            <li><a class="footer-btn footer-login-btn" href="{{ url_for('login') }}">Login</a></li>
            <li><a class="footer-btn footer-signup-btn" href="{{ url_for('signup') }}">Sign Up</a></li>
        </ul>
    </div>
</div>