/* GENERAL */

html {
    background-color: #000;
}

body {
    background-color: #d1dce7;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0;
}

h1, h2, h3, h4 {
    color: #3776b3;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

h1 {
	color: #ddd;
	font-size: 22px;
	margin-bottom: 20px;
}

h2 {
    color: #4b93da;
	font-size: 14px;
}


h3 {
	font-size: 18px;
}

h4 {
	font-size: 20px;
	margin: 30px 0;
    text-transform: unset;
}

a {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

hr {
    border: solid 2px #405a74;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100px;
}

section {
	margin: 80px 0 60px;
}

@media (min-width:576px) {

    h1 {
        font-size: 36px;
        margin-bottom: 30px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 23px;
    }

    h4 {
        font-size: 20px;
        margin: 30px 0;
        text-transform: unset;
    }

    section {
        margin: 100px 0 80px;
    }
}

@media (min-width:768px) {

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 26px;
        margin: 30px 0;
    }
    
    section {
        margin: 120px 0 100px;
    }
}

@media (min-width:992px) {

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 28px;
        margin: 40px 0;
    }
    
    section {
        margin: 140px 0 120px;
    }
}

/* GENERAL-END */

/* NAVBAR */

.navbar {
    background-image: none;
    background-color: #222;
    border-color: #222;
    border-bottom-color: blue;
    margin-bottom: 0;
    padding: 20px 0;
    position: relative;
    text-shadow: none;
}

.navbar-brand > img {
	height: 50px;
	width: 50px;
	margin-left: 15px;
}

.member-status {
	background-color: #000;
	border: #ffffff80 solid 4px;
	border-radius: 3px;
	font-size: 14px;
	margin-left: 10px;
	padding: 10px 15px;
}

.member-status.user {
	color: #698db0;
}

.member-status.admin {
	color: red;
}

.member-status.admin:hover {
	background-color: #222;
	border-color: #aaa;
	text-decoration: none;
	transition: all .3s ease-in-out;
}

.member-status > span {
	color: #d1dce7;
}

.nav-item > .nav-link.login-btn {
	background-color: #3776b3;
	border-radius: 4px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	width: 75px;
}

.nav-item > .nav-link.login-btn:hover {
	background-color: #195692;
	color: #d8d8d8;
	transition: all .5s ease-in-out;
}

.nav-item > .nav-link.signup-btn {
    background-color: #28a745;
}

.nav-item > .nav-link.signup-btn:hover {
    background-color: #218838;
}


.navbar-nav > .nav-item > .nav-link {
	font-size: 12px;
	margin: 0px 0 0 20px;
}

.navbar-nav>li:first-of-type {
    margin-top: 10px;
} 

.navbar-nav>li:last-of-type {
    margin-right: 10px;
    margin-top: 10px;
}

.navbar.navbar-dark > .navbar-toggler {
	margin-right: 10px;
	background-color: #000;
	border: #ffffff80 solid 2px;
}

.navbar.navbar-dark > .navbar-toggler:hover {
	background-color: #222;
	border-color: #aaa;
	transition: all .3s ease-in-out;
}

@media (min-width: 576px) {
    .navbar-nav>li:first-of-type, .navbar-nav>li:last-of-type {
        margin-top: 0;
    }
}

/* NAVBAR-END */

/* BANNER */

.banner {
    background-color: rgb(34, 49, 63);
    /* works for github pages*/
    /* background-image: url(/qc-metrics-analyser-3/static/images/banner.jpg); */
    /*works for gitpod*/
    background-image: url(/static/images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-inner {
	background-color: rgba(34, 49, 63, 0.8);
	padding: 80px 0;
}

@media (min-width:576px) {
    .navbar-brand > img {
        height: 60px;
        width: 60px;
        margin-left: 20px;
    }

    .navbar-nav > .nav-item > .nav-link {
        font-size: 12px;
    }
}
@media (min-width:768px) {
    .navbar-nav > .nav-item > .nav-link {
        font-size: 14px;
    }
    .nav-item > .nav-link.login-btn {
        width: 80px;
    }
    .navbar-nav > li:last-of-type {
        margin-right: 25px;
    }
}

@media (min-width:992px) {
    .navbar-nav > .nav-item > .nav-link {
        font-size: 16px;
    }
    .nav-item > .nav-link.login-btn {
        width: 90px;
    }
}

/* BANNER-END */

/* OVERLAY */

.overlay-container-1,
.overlay-container-2,
.overlay-container-3,
.overlay-container-4, 
.overlay-container-5, 
.overlay-container-6 {
    position: relative;
    width: 100%;
}

.img-overlay {
    display: block;
    max-width: 100%;
    margin: 0 auto 20px;
    border: 12px solid slategrey;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0%;
    right: 0%;
    height: 100%;
    max-width: 100%;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color: rgba(0, 0, 0, .6);
    margin: 0 auto;
    border: 20px solid rgba(0, 0, 0, .6);
    border-radius: 10px;    
}

.overlay-container-1:hover .overlay {
    opacity: 1;
}

.overlay-container-2:hover .overlay {
    opacity: 1;
}

.overlay-container-3:hover .overlay {
    opacity: 1;
}

.overlay-container-4:hover .overlay {
    opacity: 1;
}

.overlay-container-5:hover .overlay {
    opacity: 1;
}

.overlay-container-6:hover .overlay {
    opacity: 1;
}

.overlay-text {
    color: #4b93da;
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media (min-width: 576px){
    .overlay-text {
        font-size: 24px;
    }
}

@media (min-width: 768px){
    .overlay-text {
        font-size: 30px;
    }
    
}

@media (min-width: 992px){
    .overlay-text {
        font-size: 32px;
    }
    
}
/* OVERLAY-END */


/* LOGIN/SIGNUP */

.login-form, .signup-form {
    font-size: 18px;
    text-align: left;
}

@media (min-width: 576px){
    .login-form, .signup-form {
        font-size: 24px;
    }
}

/* LOGIN/SIGNUP-END */

/* DATALIST */

.qc-data {
	border: 12px solid #222;
    border-radius: 10px;
	background-color: #d1dce7;
	margin: 0 auto;
	padding: 40px;
}

.qc-data-header {
    border-bottom: 3px solid #3776B3;
}

.qc-data-header > h4 {
    color: #3776B3;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.data-form-title, .data-list-title {
	font-size: 20px;
    /* margin: 0 0 20px; */
	text-align: left;
	text-transform: uppercase;
}

.data-form-title {
    margin: 30px 0 20px;
}


.data-list-title {
    margin: 0 0 20px;
}

#selectFilteredRunForm > .data-list-title, #selectRunForm > .data-list-title {
    margin-top: 50px;
}

/* .user-runs-list {
	margin: 40px 0 0;
	text-align: center;
} */

/* .delete-user-header {
    margin-top: 20px;
} */

.delete-user {
	display: inline-block;
	margin: 0 0 20px;
}

.radio-inline {
    font-size: 16px;
    margin-left: 12px;
}

input[type="radio"] {
    margin-right: 5px;
}

.modal-dialog {
	max-width: 95%;
	margin: 10px auto;
}

.modal-title > span {
	margin-right: 60px;
}

.flashes {
	background-color: #c2e390;
	border: solid 4px green;
	border-radius: 4px;
	margin: 0 auto 50px;
	padding: 20px;
	text-align: center;
	width: 95%;
}

.flashes > li {
	list-style: none;
	margin: 0;
	padding: 0;
	color: green;
	font-size: 18px;
	font-weight: bold;
}

.qc-data-list > ul {
	padding-left: 0;
    margin-bottom: 0;
}

.qc-data-list > ul > li {
	list-style: none;
}

.qc-data-list > ul > li:last-of-type {
    margin-bottom: 0;
}

.qc-data-footer {
    border-top: 3px solid #3776B3;
	margin-top: 10px;
}

.qc-data-btn {
	background-color: #3776b3;
	border-radius: 4px;
    color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 18px;
}

.qc-data-btn:hover {
	background-color: #195692;
	color: #d8d8d8;
	transition: all .5s ease-in-out;
}

.qc-data-btn--delete {
    background-color: #dc3545;
}

.qc-data-btn--delete:hover {
    background-color: #c82333;
}

.qc-data-btn--update {
    background-color: #ffc107;
}

.qc-data-btn--update:hover {
    background-color: #e0a800;
}

#returnToForm {
	margin: 0 50px;
}

/* DATALIST-END */


/* .navbar-nav > .nav-item > .nav-link.qc-data-btn {
	color: #e1e1e1;
	text-align: center;
	padding: 5px 15px;
} */

/* .navbar-nav > .nav-item > .nav-link.qc-data-btn:hover {
	color: #fff;
} */


/* VIEW-USER-RUNS */

/* .user-data-lists > h3 {
	font-size: 20px;
	margin: 50px 0 20px;
	text-align: left;
} */

.user-run, .user-runs {
    margin-bottom: 15px;
    padding-left: 0;
}

.user-run > li {
    font-size: 20px;
    list-style: none;
    margin-bottom: 10px;
}

.user-run > li > span {
	font-style: italic;
	font-weight: bold;
	margin-left: 15px;
}

.user-run {
    margin-bottom: 25px;
    text-align: left;
}

#userRunButton  {
    margin-top: 31px;
}

#userRunButton-admin  {
    margin-top: 31px;
    margin-left: 16px;
}

.user-runs > li {
	display: inline-block;
	font-size: 12px;
	margin-right: 7px;
}

.user-runs:last-of-type {
	margin-bottom: 25px;
}

#updateRunButton {
	margin-left: 16px;
	margin-right: 5px;
}

/* #userRunsButton-admin  {
    margin-left: 16px;
} */


/* VIEW-USER-RUNS-END */

.hide {
    display: none;
}

.show {
    display: block;
}

.invisible {
    visibility: hidden;
}

.deleted > li > span {
    color: red;
    font-weight: bold;
    margin-left: 5px;
}

/* FOOTER */

/* .footer-nav {
    background-color: #222;
    border: solid 1px #222;
    border-bottom-color: blue;
    margin-bottom: 0;
    padding: 20px 0 5px;;
}

.footer-nav ul {
    text-align: center;
    padding: 0;
}

.footer-nav ul > li {
    display: inline-block;
    width: 32%
}

.footer-nav ul > li > a {
    color: #ffffff80;
    font-size: 14px;
    margin: 0 2px;
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
}

.footer-nav ul > li > a:hover {
    color: #ffffffb3;
    text-decoration: none;
} */

.footer-copyright {
	text-align: center;
	margin: 0 auto 80px;
    background-color: rgb(34, 49, 63);
	background-image: url(/static/images/banner.jpg);
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
}


.footer-copyright > .col-12 {
    background-color: rgba(34, 49, 63, 0.8);
    padding: 40px 0;

}

/* .bg-banner {
	color: #FFF;
	background-color: rgb(34, 49, 63);
	background-image: url(/static/images/banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
} */

.footer-copyright p {
	color: #d1dce7;
	font-size: 11px;
	margin: 0 0 80px;
	padding: 20px;
}

@media (min-width: 576px) {
    .footer-copyright p {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    .footer-copyright p {
        font-size: 14px;
    }
}

/*create more space between footer links on small screens above 303px width*/

/* @media (min-width:303px) {
    .bg-footer ul li a {
        font-size: 14px;
        margin: 0 6px;
    }
} */

/*increase size and space around footer links on small screens above 480px width*/

/* @media (min-width:480px) {
    .bg-footer ul li a {
        font-size: 15px;
        margin: 0 10px;
    }
} */

/* .bg-footer ul li a:hover {
    color: rgb(51, 153, 243);
    text-decoration: none;
} */

/* .border-right {
    border-right: 1px solid rgb(105, 141, 176);
} */

/*remove link divider on third visible link for small screen*/

/* .border-right:nth-of-type(4) {
    border-right: none;
} */

@media (min-width:768px) {
    /* .bg-footer .copyright {
        text-align: right;
        margin: 0 20px 15px 0;
    } */

    /* .border-right {
        border-right: 1px solid rgb(105, 141, 176);
    } */

    /*add link divider on fourth visible link for medium screen*/
    /* .border-right:nth-of-type(4) {
        border-right: 1px solid rgb(105, 141, 176);

    } */

    /* .bg-footer ul li a {
        font-size: 12px;
        margin: 0 2px;
    } */
}

/* @media (min-width:992px) {
    .copyright {
        font-size: 14px;
    }

    .bg-footer ul li a {
        font-size: 16px;
        margin: 0 4px;
    }
} */

/* FOOTER-END */
