/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* FONTS-END */


/* GENERAL */

html {
    background-color: #000;
    font-size: 62.5%;
}

body {
    background-color: #d1dce7;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0;
}

h1, h2, h3, h4 {
    color: #3776b3;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

h1 {
	color: #ddd;
	font-size: 2.2rem;
	margin-bottom: 2rem;
}

h2 {
    color: #4b93da;
	font-size: 1.4rem;
}


h3 {
	font-size: 1.8rem;
}

h4 {
	font-size: 2rem;
	margin: 3rem 0;
    text-transform: unset;
}

a {
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    border: solid 2px #405a74;
    padding: 0;
    margin-top: 3rem;
    margin-bottom: 1rem;
    width: 100px;
}

section {
	margin: 8rem 0 6rem;
}

/* GENERAL-END */

/* NAVBAR */

.navbar {
    background-image: none;
    background-color: #222;
    border-color: #222;
    border-bottom-color: blue;
    margin-bottom: 0;
    padding: 2rem 0;
    position: relative;
    text-shadow: none;
}

.navbar-brand > img {
	height: 50px;
	width: 50px;
	margin-left: 1.5rem;
}

.member-status {
	background-color: #000;
	border: #ffffff80 solid 4px;
	border-radius: 3px;
	font-size: 1.4rem;
	margin-left: 1rem;
	padding: 1rem 1.5rem;
}

.member-status.user {
	color: #698db0;
}

.member-status.admin {
	color: red;
}

.member-status:hover {
	background-color: #222;
	border-color: #aaa;
	text-decoration: none;
	transition: all .3s ease-in-out;
}

.member-status > span {
	color: #d1dce7;
}

.nav-item > .nav-link.login-btn {
	background-color: #3776b3;
	border-radius: 4px;
	color: #fff;
	font-weight: 700;
	text-align: center;
	width: 75px;
}

.nav-item > .nav-link.login-btn:hover {
	background-color: #195692;
	color: #d8d8d8;
	transition: all .5s ease-in-out;
}

.nav-item > .nav-link.signup-btn,
.qc-data-btn.signup-btn {
    background-color: #28a745;
}

.nav-item > .nav-link.signup-btn:hover,
.qc-data-btn.signup-btn:hover {
    background-color: #218838;
}


.navbar-nav > .nav-item > .nav-link {
	font-size: 1.2rem;
	margin: 0 0 0 2rem;
}

.navbar-nav>li:first-of-type {
    margin-top: 1rem;
} 

.navbar-nav>li:last-of-type {
    margin-right: 1rem;
    margin-top: 1rem;
}

.navbar.navbar-dark > .navbar-toggler {
	margin-right: 1rem;
	background-color: #000;
	border: #ffffff80 solid 2px;
}

.navbar.navbar-dark > .navbar-toggler:hover {
	background-color: #222;
	border-color: #aaa;
	transition: all .3s ease-in-out;
}

/* NAVBAR-END */

/* BANNER */

.banner {
    background-image: url(/static/images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-inner {
	background-color: rgba(34, 49, 63, 0.8);
	padding: 8rem 0;
}

/* BANNER-END */

/* OVERLAY */

.overlay-container {
    position: relative;
    width: 100%;
}

.img-overlay {
    display: block;
    max-width: 100%;
    margin: 0 auto 2rem;
    border: 1.2rem solid slategrey;
    border-radius: 1rem;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    max-width: 100%;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color: rgba(0, 0, 0, .6);
    margin: 0 auto;
    border: 2rem solid rgba(0, 0, 0, .6);
    border-radius: 1rem;    
}

.overlay-container:hover .overlay {
    opacity: 1;
}

.overlay-text {
    color: #4b93da;
    font-size: 3.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* OVERLAY-END */


/* LOGIN/SIGNUP */

#auth-form {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-align: left;
}

/* LOGIN/SIGNUP-END */

/* DATALIST */

.qc-data {
	border: 1.2rem solid #222;
    border-radius: 1rem;
	background-color: #d1dce7;
	padding: 0 1rem;
}

.qc-data-header {
    border-bottom: 3px solid #3776B3;
}

.qc-data-header > h4 {
    color: #3776B3;
	font-size: 1.4rem;
	font-weight: 700;
    margin-top: 0;
	text-transform: uppercase;
}

.data-form-title, .data-list-title {
	font-size: 2rem;
	text-align: left;
	text-transform: uppercase;
}

.data-form-title {
    margin: 3rem 0 2rem;
}

.data-list-title {
    margin: 0 0 2rem;
}

#selectFilteredRunForm > .data-list-title, #selectRunForm > .data-list-title {
    margin-top: 5rem;
}

.delete-user {
	display: inline-block;
	margin: 0 0 2rem;
}

.radio-inline {
    font-size: 1.6rem;
    margin-left: 1.2rem;
}

input[type="radio"] {
    margin-right: 5px;
}

.modal-dialog {
	max-width: 75%;
	margin: 1rem auto;
}

.modal-title > span {
	margin-right: 6rem;
}

.qc-data-list > ul {
	padding-left: 0;
    margin-bottom: 0;
}

.qc-data-list > ul > li {
	list-style: none;
	font-size: 1rem;
}

.qc-data-list > ul > li:last-of-type {
    margin-bottom: 0;
}

.qc-data-footer {
    border-top: 3px solid #3776B3;
}

.qc-data-btn {
	background-color: #3776b3;
	border-radius: 4px;
    color: #fff;
	font-size: 1.2rem;
	font-weight: 700;
	padding: 0.8rem 1.8rem;
}

.qc-data-btn:hover {
	background-color: #195692;
	color: #d8d8d8;
	transition: all .5s ease-in-out;
}

.qc-data-btn--delete {
    background-color: #dc3545;
}

.qc-data-btn--delete:hover {
    background-color: #c82333;
}

.qc-data-btn--update {
    background-color: #ffc107;
}

.qc-data-btn--update:hover {
    background-color: #e0a800;
}

#returnToForm {
	margin: 0 5rem;
}

/* DATALIST-END */

/* VIEW-USER-RUNS */

.user-run, .user-runs {
    margin-bottom: 2.5rem;
    padding-left: 0;
}

.user-run > li {
    font-size: 2rem;
    list-style: none;
    margin-bottom: 1rem;
}

.user-run > li > span {
	font-style: italic;
	font-weight: 700;
	margin-left: 1.5rem;
}

.user-run {
    margin-bottom: 2.5rem;
    text-align: left;
}

#userRunButton {
    margin-top: 3.1rem;
}

#userRunButton-admin {
    margin-top: 3.1rem;
    margin-left: 1.6rem;
}

.user-runs > li {
	display: block;
	font-size: 1.4rem;
}

.user-runs:last-of-type {
	margin-bottom: 2.5rem;
}

#updateRunButton {
	margin-left: 1.6rem;
	margin-right: 5px;
}

/* VIEW-USER-RUNS-END */

/* FORMS */

label {
    font-size: 1.2rem;
}

.form-control {
    font-size: 1.4rem;
    height: 3.6rem;
}

/* FORMS-END */

.hide {
    display: none;
}

.deleted > li > span {
    color: red;
    font-weight: 700;
    margin-left: 5px;
}

/* FOOTER */

.footer-nav {
	background-color: #222;
	padding: 4rem 0 5rem;
}

.footer-nav ul {
    text-align: center;
    padding: 0;
    float: left;
}

.footer-nav ul:last-of-type {
    text-align: center;
    padding: 0;
    float: right;
}

.footer-nav ul > li {
	display: inline-block;
	margin-right: 2rem;
}

.footer-nav ul > li:first-of-type {
    margin-left: 2rem;
}

.footer-nav ul > li .footer-btn {
	border-radius: 4px;
	color: #fff;
	font-weight: 700;
	padding: 0.8rem 1.2rem;
}

.footer-nav ul > li > .footer-login-btn {
	background-color: #3776b3;
}

.footer-nav ul > li > .footer-login-btn:hover{
	background-color: #195692;
}

.footer-nav ul > li > .footer-signup-btn {
	background-color: #28a745;
}

.footer-nav ul > li > .footer-signup-btn:hover {
	background-color: #218838;
}

.footer-nav ul > li > a {
    font-size: 1.1rem;
}

.footer-nav ul > li > a:hover {
    color: #ffffffb3;
    text-decoration: none;
}

.fas {
    margin-right: 5px;
}

.footer-copyright {
	text-align: center;
	margin: 0 auto;
    background-color: rgb(34, 49, 63);
	background-image: url(/static/images/banner.jpg);
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
}

.footer-copyright > .col-12 {
    background-color: rgba(34, 49, 63, 0.8);
    padding: 6rem 0;

}

.footer-copyright p {
	color: #d1dce7;
	font-size: 1.1rem;
	margin: 0;
	padding: 2rem;
}

/* FOOTER-END */

/* FLASH MESSAGES */

.flashes {
	background-color: #c2e390;
	border: solid 4px green;
	border-radius: 4px;
	font-size: 1.8rem;
	font-weight: 700;
	margin: 0 auto 50px;
	padding: 2rem;
	text-align: center;
	width: 95%;
}

.alert-success {
	background-color: #c2e390;
	border: solid 4px green;
	color: green;
}

.alert-error {
	background-color: #f0baad;
	border: solid 4px #dc3545;
	color: #dc3545;
}

/* FLASH MESSAGES-END */

/* CHARTS */

.chart-container {
  position: relative;
  margin: auto;
  height: 40vh;
  width: 60vw;
}

/* CHARTS-END */

/* FLOATING_BUTTON */

#backToTop.active:hover {
    opacity: 1;
}

#backToTop.active {
    pointer-events: auto;
    opacity: 0.5;
}

.back-to-top {
	bottom: 5rem;
	left: 1.5rem;
	z-index: 1;
	cursor: pointer;
	color: #ffffffb3;
	opacity: 0;
	background-color: transparent;
	transition: all .25s ease-in-out;
}

.btn-fixed {
	position: static;
}

.btn-float {
	position: fixed;
}

/* FLOATING_BUTTON-END */


@media (min-width:500px) {

/* FOOTER */

    .footer-nav ul > li > a {
        font-size: 14px;
        color: #ffffff80;
    }

/* FOOTER-END */

}


@media (min-width:576px) {

/* GENERAL */

    h1 {
        font-size: 3.6rem;
        margin-bottom: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 2rem;
        margin: 3rem 0;
        text-transform: unset;
    }

    section {
        margin: 10rem 0 8rem;
    }

/* GENERAL-END */

/* NAVBAR */

    .navbar-nav>li:first-of-type, .navbar-nav>li:last-of-type {
        margin-top: 0;
    }

/* NAVBAR-END */

/* BANNER */

    .navbar-brand > img {
        height: 6rem;
        width: 6rem;
        margin-left: 2rem;
    }

/* BANNER-END */

/* OVERLAY */

    .overlay-text {
        font-size: 2.4rem;
    }

/* OVERLAY-END */

/* LOGIN/SIGNUP */

    #auth-form {
        font-size: 2.4rem;
    }

/* LOGIN/SIGNUP-END */

/* DATA-LIST */

    .qc-data-btn {
        font-size: 1.4rem;
    }

    .qc-data-list > ul > li {
        font-size: 1.2rem;
    }

    .qc-data-list > ul > li:last-of-type {
        margin-bottom: 1rem;
    }

/* DATA-LIST-END */

/* VIEW-USER-RUNS */

    .user-runs {
        margin-bottom: 1.5rem;
    }

   .user-runs > li {
        display:inline-block;
        font-size: 1.2rem;
        margin-right: 5px;
    }

/* VIEW-USER-RUNS-END */

/* FORMS-END */

    label {
        font-size: 1.6rem;
    }

.form-control {
	font-size: 1.6rem;
	height: 3.9rem;
}

/* FORMS-END */

/* FOOTER */

    .footer-copyright p {
        font-size: 1.2rem;
    }

/* FOOTER-END */

}


@media (min-width:768px) {

/* GENERAL */

    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.8rem;
    }

    h4 {
        font-size: 2.6rem;
        margin: 3rem 0;
    }
    
    section {
        margin: 12rem 0 10rem;
    }

/* GENERAL-END */

/* BANNER */

    .navbar-nav > .nav-item > .nav-link {
        font-size: 1.4rem;
    }
    .nav-item > .nav-link.login-btn {
        width: 8rem;
    }
    .navbar-nav > li:last-of-type {
        margin-right: 2.5rem;
    }

/* BANNER-END */

/* OVERLAY */

    .overlay-text {
        font-size: 3rem;
    }

/* OVERLAY-END */

/* DATA-LIST */

    .qc-data {
        margin-top: 6%;
        padding: 0 2rem;
    }

    .qc-data-list > ul > li {
        font-size: 1.4rem;
    }

    .qc-data-list > ul > li:last-of-type {
        margin-bottom: 2rem;
    }

/* DATA-LIST-END */

/* VIEW-USER-RUNS */

    .user-runs > li {
        font-size: 1.5rem;
        margin-right: 1rem;
    }

/* VIEW-USER-RUNS-END */

/* FOOTER */

    .footer-copyright p {
        font-size: 1.4rem;
    }

    .bg-footer .copyright {
        text-align: right;
        margin: 0 2rem 1.5rem 0;
    }

/* FOOTER-END */

}


@media (min-width:992px) {

/* GENERAL */

    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
    }

    h4 {
        font-size: 2.8rem;
        margin: 4rem 0;
    }
    
    section {
        margin: 14rem 0 12rem;
    }

/* GENERAL-END */

/* BANNER */

    .navbar-nav > .nav-item > .nav-link {
        font-size: 1.6rem;
    }
    .nav-item > .nav-link.login-btn {
        width: 9rem;
    }

/* BANNER-END */

/* OVERLAY */

    .overlay-text {
        font-size: 3.2rem;
    }

/* OVERLAY-END */

/* DATA-LIST */

    .qc-data {
        margin-top: 6%;
        padding: 2rem;
    }

    .qc-data-list > ul > li {
        font-size: 1.6rem;
    }

/* DATA-LIST-END */

/* VIEW-USER-RUNS */

    .user-runs > li {
        font-size: 1.6rem;
        margin-right: 1.2rem;
    }

/* VIEW-USER-RUNS-END */

/* FOOTER */

    .copyright {
        font-size: 1.4rem;
    }

/* FOOTER-END */

}