{% macro modalLink(metricTitle, metricName) %}
    <h4>{{ metricTitle }}</h4>
    <a data-toggle="modal" data-target="#{{ metricName }}Modal">
        <div class="overlay-container">
            <img class="img-overlay" src="/static/images/{{ metricName }}.jpg" alt="{{ metricTitle }}">
            <div class="overlay">
            <div class="overlay-text">{{ metricTitle }}</div>
            </div>
        </div>
    </a>
{% endmacro %}

{% macro imageLink(imageLinkTitle, imageLinkName, overlayTitle) %}
    <h4>{{ imageLinkTitle }}</h4>
    <a href="{{ url_for('user', username=username) }}">
    <div class="overlay-container">
        <img class="img-overlay" src="/static/images/{{ imageLinkName }}.jpg" alt="{{ imageLinkName }}">
        <div class="overlay">
        <div class="overlay-text">{{ overlayTitle }}</div>
        </div>
    </div>
    </a>
</div>
{% endmacro %}

href="/{{ pageName }}" 
