{% macro modalImageLink(urlName, imageLinkTitle, imageLinkName, overlayTitle, username) %}
    <h4>{{ imageLinkTitle }}</h4>
    {% if urlName == "adminSelectRuns" %}
        <a href="{{ url_for('adminSelectRuns', username=username) }}">
    {% elif urlName == "adminSelectUser" %}
        <a href="{{ url_for('adminSelectUser', username=username) }}">
    {% elif urlName == "admin" %}
        <a href="{{ url_for('admin', username=username) }}">
    {% elif urlName == "user" %}
        <a href="{{ url_for('user', username=username) }}">
    {% endif %}
        <div class="overlay-container">
            <img class="img-overlay" src="/static/images/{{ imageLinkName }}.jpg" alt="{{ imageLinkName }}">
            <div class="overlay">
                <div class="overlay-text">{{ overlayTitle }}</div>
            </div>
        </div>
    </a>
{% endmacro %}
