<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QC Metrics Analyser</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.6.3/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>

<body>
    <header>
        <!--NAVBAR-->
        {% include '/partials/user-navbar.html' %}
        <!--NAVBAR-END-->

        <!--BANNER-->
        {% include '/partials/banner.html' %}
        <!--BANNER-END-->
    </header>

    <!-- MAIN CONTENT -->
    {% block content %} {% endblock content %}
    <!-- MAIN CONTENT-END -->

    <!--FOOTER-->
    <footer>
    {% include '/partials/user-footer.html' %}
    </footer>
    <!--FOOTER-END-->

    <!--JAVASCRIPT -->
    {% block javascript %} {% endblock javascript %}
    <!--JAVASCRIPT-END -->

</body>
</html>