{% extends '/bases/admin-runs-base.html' %}
{% block content %}

    <!-- DELETE-USER-RUN -->
    <section class="container" id="viewUserBg">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-md-7 col-lg-6">
                {% with messages = get_flashed_messages() %} {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %} {% endwith %}
                <div class="user-data-list">
                    <h4 class="data-lists delete-user">User: {{ username }}</h4> 
                    {% for data in selectedUserRun %}
                    <ul id="deleteRunList" class="user-run">
                        <li>Pool: <span>{{ data.pool }}</span></li>
                        <li>Yield: <span>{{ data.yield }}</span></li>
                        <li>Cluster Density: <span>{{ data.clusterDensity }}</span></li>
                        <li>Pass Filter: <span>{{ data.passFilter }}</span></li>
                        <li>Q30: <span>{{ data.q30 }}</span></li>
                        <li>Experiment: <span>{{ data.experiment }}</span></li>
                        <li>Chemistry: <span>{{ data.chemistry }}</span></li>
                    </ul>
                    {% endfor %}
                </div>
                <form method="POST" id="deleteRunForm">
                    <h4 class="data-lists delete-user">Delete Run: </h4> 
                    <label class="radio-inline"><input type="radio" name="radio" value="yes">Yes</label>
                    <label class="radio-inline"><input type="radio" name="radio" value="no" checked>No</label>
                </form>
    
                <button form="deleteRunForm" type="submit" name="deleteRunButton" value="deleteRun" class="btn qc-data-btn qc-data-btn--delete" id="deleteRunButton">Delete</button>
                <a href="{{ url_for('adminSelectRuns') }}" class="btn qc-data-btn" id="returnToForm">Return</a>

            </div>
        </div>
    </section>
    <!-- DELETE-USER-RUN-END -->

{% endblock content %}

{% block javascript %}

    <script>
        let pageLocation = JSON.parse({{ pageLocation|tojson }});
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/static/js/deleteRun.js"></script>

{% endblock javascript %}