{% extends '/bases/base.html' %}
{% block navbar %}

    <nav class="navbar navbar-expand-sm navbar-dark">
        <a class="member-status admin" href="{{ url_for('adminOrUser', username=username) }}">Admin: <span>{{ username }}</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('admin', username=username) }}">View Runs</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('adminSelectRuns') }}">Manage Runs</a></li>
                <li class="nav-item"><a class="nav-link custom-btn" href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </div>
    </nav>

{% endblock navbar %}

{% block content %}

    <!-- USER-DATA-FORM -->
    <section class="container" id="userFormBg">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">

                <form method="POST">
                    <h4 class="data-lists">Select User:</h4>
                    <div class="row">
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <select name="username" class="form-control" id="userListContainer">
                                {% for user in userList %}
                                    <option  value="{{ user.user }}">{{ user.user }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="formButton" value="userRuns" class="btn qc-data-btn" id="userRunsButton-admin">Send</button>
                        </div>
                    </div>
                    <h4 class="data-lists">Filter Runs:</h4>
                    <div class="row">
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label>Min Yield</label>
                            <select name="minYield" class="form-control" id="minYield">
                                <option value="1" selected>1</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="150">150</option>
                                <option value="200">200</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label>Max Yield</label>
                            <select name="maxYield" class="form-control" id="maxYield">
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="150">150</option>
                                <option value="200">200</option>
                                <option value="250" selected>250</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label>Min Cluster Density</label>
                            <select name="minClusterDensity" class="form-control" id="minClusterDensity">
                                <option type="number"  value="50" selected>50</option>
                                <option value="75">75</option>
                                <option value="100">100</option>
                                <option value="125">125</option>
                                <option value="150">150</option>
                                <option value="175">175</option>
                                <option value="200">200</option>
                                <option value="225">225</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label>Max Cluster Density</label>
                            <select name="maxClusterDensity" class="form-control" id="maxClusterDensity">
                                <option value="75">75</option>
                                <option value="100">100</option>
                                <option value="125">125</option>
                                <option value="150">150</option>
                                <option value="175">175</option>
                                <option value="200">200</option>
                                <option value="225">225</option>
                                <option value="250" selected>250</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label>Min Pass Filter</label>
                            <select name="minPassFilter" class="form-control" id="minPassFilter">
                                <option value="1" selected>1</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                                <option value="70">70</option>
                                <option value="80">80</option>
                                <option value="90">90</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label>Max Pass Filter</label>
                            <select name="maxPassFilter" class="form-control" id="maxPassFilter">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                                <option value="70">70</option>
                                <option value="80">80</option>
                                <option value="90">90</option>
                                <option value="100" selected>100</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label>Min Q30</label>
                            <select name="minq30" class="form-control" id="minq30">
                                <option value="1" selected>1</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                                <option value="70">70</option>
                                <option value="80">80</option>
                                <option value="90">90</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label>Max Q30</label>
                            <select name="maxq30" class="form-control" id="maxq30">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                                <option value="70">70</option>
                                <option value="80">80</option>
                                <option value="90">90</option>
                                <option value="100" selected>100</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label for="experiment">Experiment</label>
                            <select name="experiment" class="form-control" id="experiment">
                                <option value="All" selected>All</option>
                                <option value="Genome">Genome</option>
                                <option value="Exome">Exome</option>
                                <option value="Capture">Capture</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label for="chemistry">Chemistry</label>
                            <select name="chemistry" class="form-control" id="chemistry">
                                <option value="All" selected>All</option>
                                <option value="High300">High300</option>
                                <option value="Mid300">Mid300</option>
                                <option value="Mid150">Mid150</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </section>
    <!-- USER-DATA-FORM-END -->

    <!-- VIEW-RUNS -->
    <section class="container" id="userRunsBg">
        <div class="row justify-content-center">
            <div class="col-sm-11 col-md-10 col-lg-8">
                <div>
                    <h4 class="data-lists">{{ selectedUser }}'s Runs</h4> 
                    {% with messages = get_flashed_messages() %} {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %} {% endwith %}
                    {% for data in userRuns %}
                    <ul class="user-runs">
                        <li>Pool: {{ data.pool }}</li>
                        <li>Yield: {{ data.yield }}</li>
                        <li>Cluster Density: {{ data.clusterDensity }}</li>
                        <li>Pass Filter: {{ data.passFilter }}</li>
                        <li>Q30: {{ data.q30 }}</li>
                    </ul>
                    {% endfor %}
                    <a href="{{ url_for('adminSelectRuns') }}" class="btn qc-data-btn">Return</a>
                </div>
    
                <h4 class="data-lists">Select Run:</h4>
                <form method="POST">
                    <div class="row">
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <select type="number" name="selectedPoolNumber" class="form-control" id="poolListContainer">
                                {% for data in userRuns %}                                
                                <option  value="{{ data.pool }}">{{ data.pool }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="formButton" value="userRun" class="btn qc-data-btn">Select</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </section>
    <!-- VIEW-RUNS-END -->

    <!-- VIEW-RUN -->
    <section class="container" id="userRunBg">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-md-7 col-lg-6">
                <div class="user-data-lists">
                    <h4 class="data-lists">User: {{ selectedUser }}</h4> 
                    {% with messages = get_flashed_messages() %} {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %} {% endwith %}
                    {% for data in selectedUserRun %}
                    <ul class="user-run">
                        <li>Pool: {{ data.pool }}</li>
                        <li>Yield: {{ data.yield }}</li>
                        <li>Cluster Density: {{ data.clusterDensity }}</li>
                        <li>Pass Filter: {{ data.passFilter }}</li>
                        <li>Q30: {{ data.q30 }}</li>
                        <li>Experiment: {{ data.experiment }}</li>
                        <li>Chemistry: {{ data.chemistry }}</li>
                    </ul>
                    {% endfor %}
                </div>
    
                <a href="{{ url_for('adminSelectRuns') }}" class="btn qc-data-btn" id="returnToForm">Return</a>
                <a href="{{ url_for('adminDeleteRun') }}" class="btn qc-data-btn qc-data-btn--delete" id="deleteRun">Delete</a>
                <a href="{{ url_for('adminUpdateRun') }}" class="btn qc-data-btn qc-data-btn--update" id="updateRun">Update</a>

            </div>
        </div>
    </section>
    <!-- VIEW-RUN-END -->

{% endblock content %}

{% block javascript %}
 
    <script>
        let pageLocation = JSON.parse({{ pageLocation|tojson }});
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/static/js/adminSelectRuns.js"></script>

{% endblock javascript %}