{% extends '/bases/base.html' %}
{% block navbar %}

    <nav class="navbar navbar-expand-sm navbar-dark">
        <a class="member-status admin" href="{{ url_for('adminOrUser', username=username) }}">Admin: <span>{{ username }}</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('admin', username=username) }}">View Runs</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('adminSelectUser') }}">Manage Runs</a></li>
                <li class="nav-item"><a class="nav-link login-btn" href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </div>
    </nav>

{% endblock navbar %}

{% block content %}

    <!-- UPDATE-DATA -->
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-lg-10">
                <h4 class="data-lists">Update Pool {{ existingPoolNumber }}</h4> 
                {% with messages = get_flashed_messages() %} {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %} {% endwith %}
                <form method="POST">
                    <div class="row">
                        {% for user in selectedUser %}
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label>Name</label>
                            <input type="text" class="form-control" value="{{ user.user }}" placeholder="{{ user.user }}" name="user" id="user" required data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label>Membership</label>
                            <input type="text" class="form-control" value="{{ user.member }}" placeholder="{{ user.member }}" name="member" id="member" required data-validation-required-message="Please enter pool number.">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label>Date joined</label>
                            <input type="text" class="form-control" value="{{ user.joined.date }}" placeholder="{{ user.joined.date }}" name="date" id="date" required data-validation-required-message="Please enter run yield.">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label>Time Joined</label>
                            <input type="text" class="form-control" value="{{ user.joined.time }}" placeholder="{{ user.joined.time }}" name="time" id="time" required data-validation-required-message="Please enter cluster density.">
                            <p class="help-block text-danger"></p>
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            <button type="submit" class="btn qc-data-btn qc-data-btn--update" id="updateRunButton">Update</button>
                            <a href="{{ url_for('adminSelectUser') }}" class="btn qc-data-btn" id="returnToForm">Return</a>
                        </div>
                    </div>
                </form>                

            </div>
        </div>
    </section>
    <!-- UPDATE-USER-END -->

{% endblock content %}

{% block javascript %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

{% endblock javascript %}