{% extends '/bases/admin-users-base.html' %}
{% block content %}

    <!-- DELETE-USER -->
    <section class="container" id="viewUserBg">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-md-7 col-lg-6">
                {% with messages = get_flashed_messages() %} {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %} {% endwith %}
                <div class="user-data-list">
                    <h4 class="data-lists delete-user">User: {{ selectedUserName }}</h4> 
                    {% for data in selectedUser %}
                    <ul id="deleteUserList" class="user-run">
                        <li>Membership: <span>{{ data.member|capitalize }}</span></li>
                        <li>Date Joined: <span>{{ data.joined.date }}</span></li>
                        <li>Time Joined: <span>{{ data.joined.time }}</span></li>
                    </ul>
                    {% endfor %}
                </div>
                <form method="POST" id="deleteUserForm">
                    <h4 class="data-lists delete-user">Delete User: </h4> 
                    <label class="radio-inline"><input type="radio" name="radio" value="yes">Yes</label>
                    <label class="radio-inline"><input type="radio" name="radio" value="no" checked>No</label>
                </form>
    
                <button form="deleteUserForm" type="submit" name="deleteUserButton" value="deleteUser" class="btn qc-data-btn qc-data-btn--delete" id="deleteUserButton">Delete</button>
                <a href="{{ url_for('adminSelectUser') }}" class="btn qc-data-btn" id="returnToForm">Return</a>

            </div>
        </div>
    </section>
    <!-- DELETE-USER-END -->

{% endblock content %}

{% block javascript %}

    <script>
        let pageLocation = JSON.parse({{ pageLocation|tojson }});
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/static/js/deleteUser.js"></script>

{% endblock javascript %}