{% extends '/bases/base.html' %}
{% block navbar %}

    <nav class="navbar navbar-expand-sm navbar-dark">
        <div class="member-status admin">Admin: <span>{{ username }}</span></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link login-btn" href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </div>
    </nav>

{% endblock navbar %}

{% block content %}

    <section class="container">
        <h3>Continue As:</h3>
        <hr>
        <div class="row justify-content-center">
 
            <div class="col-sm-5">
                <h4 class="image-title">User</h4>
                <a href="{{ url_for('user', username=username) }}">
                <div class="overlay-container-1">
                    <img class="img-overlay" src="{{ url_for('static', filename='images/users.png') }}" alt="users">
                    <div class="overlay">
                    <div class="overlay-text">Continue as User</div>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-sm-5">
                <h4 class="image-title">Admin</h4>
                <a href="{{ url_for('admin', username=username) }}">
                <div class="overlay-container-2">
                    <img class="img-overlay" src="{{ url_for('static', filename='images/experiments.jpg') }}" alt="experiments">
                    <div class="overlay">
                    <div class="overlay-text">Continue as Admin</div>
                    </div>
                </div>
                </a>
            </div>

        </div>
    </section>

{% endblock content %}

{% block javascript %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

{% endblock javascript %}