<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>QC Metrics Analyser</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dc.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.6.3/css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
  <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/crossfilter.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dc.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/queue.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/runs-graphs.js') }}"></script>
</head>

<body>
  <div class="page">

    <header>
        <!--NAVBAR-->
        <nav class="navbar navbar-expand-sm navbar-dark">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='images/qc-metrics-analyser-logo.png') }}" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('runs') }}"> Runs</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('chemistry') }}"> Chemistry</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('experiments') }}">Experiments</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('users') }}">Users</a></li>
                </ul>
            </div>
        </nav>
        <!--NAVBAR-END-->

    <!--BANNER-->
    <div class="bg-banner" id="home">
        <div class="bg-banner-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="banner-title">QC Metrics Analyser</h1>
                        <h2 class="banner-subtitle">Next Generation Sequencing</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <!--BANNER-END-->
    </header>

    <!-- MAIN CONTENT -->
    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <!--FOOTER-->
    <footer class="">
        <div class="row footer-nav">
            <div class="col-xs-12 col-sm-12 margin-bottom-xs">
                <ul class="">
                    <li class="">
                        <a class="d-block d-md-none" href="#">Top</a>
                        <a class="d-none d-md-inline-block" href="#">Top of Page</a>
                    </li>
                    <li class=""><a href="{{ url_for('index') }}">Home</a></li>
                    <li class=""><a href="{{ url_for('runs') }}">Runs</a></li>
                    <li class="d-none d-sm-inline-block"><a href="{{ url_for('chemistry') }}">Chemistry</a></li>
                    <li class=""><a href="{{ url_for('experiments') }}">Experiments</a></li>
                    <li class="d-none d-sm-inline-block"><a href="{{ url_for('users') }}">Users</a></li>
                </ul>
            </div>
        </div>
            <div class="row footer-copyright">
                <div class="col-xs-12 col-sm-12">
                    <p class="">2018 -<script>document.write(new Date().getFullYear());</script> &copy; Thomas Jones - All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <!--FOOTER-END-->

  </div>
  <!--page-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>