{% extends 'base.html' %}
{% block content %}

    <!-- <section>
        <div class="row no-gutters footer-nav">
            <div class="col-12">
                <ul>
                    <li><a href="{{ url_for('viewUserRuns') }}">Runs</a></li>
                    <li><a href="{{ url_for('addUserRun') }}">Add Run</a></li>
                    <li><a href="{{ url_for('deleteUserRun') }}">Delete Run</a></li>
                </ul>
            </div>
        </div>
    </section> -->


    <!-- DELETE-DATA -->
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-lg-10">

            </div>
        </div>
    </section>
    <!-- DELETE-DATA-END -->



{% endblock %}