{% extends 'base.html' %}
{% block content %}

    <section class="container" id="userFormBg">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <a href="#" id="userForm"></a>
                <h3>Display Individual Run:</h3>
                <br>
                <form method="POST">
                    <div class="row">
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label>Pool Number</label>
                            <input type="number" class="form-control" placeholder="poolNumber" name="poolNumber" id="poolNumber" required data-validation-required-message="Please enter your pool number.">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="formButton" value="userRun" class="btn qc-data-btn" id="userRunButton">Send</button>
                        </div>
                    </div>
                </form>

                <h3>Display Multiple Runs:</h3>
                <br>
                <form method="POST">
                    <div class="row">
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label>Min Yield</label>
                            <select name="minYield" class="form-control" id="minYield">
                                <option value="1" selected>1</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="150">150</option>
                                <option value="200">200</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label>Max Yield</label>
                            <select name="maxYield" class="form-control" id="maxYield">
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="150">150</option>
                                <option value="200">200</option>
                                <option value="250" selected>250</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label>Min Cluster Density</label>
                            <select name="minClusterDensity" class="form-control" id="minClusterDensity">
                                <option value="50" selected>50</option>
                                <option value="75">75</option>
                                <option value="100">100</option>
                                <option value="125">125</option>
                                <option value="150">150</option>
                                <option value="175">175</option>
                                <option value="200">200</option>
                                <option value="225">225</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label>Max Cluster Density</label>
                            <select name="maxClusterDensity" class="form-control" id="maxClusterDensity">
                                <option value="75">75</option>
                                <option value="100">100</option>
                                <option value="125">125</option>
                                <option value="150">150</option>
                                <option value="175">175</option>
                                <option value="200">200</option>
                                <option value="225">225</option>
                                <option value="250" selected>250</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label>Min Pass Filter</label>
                            <select name="minPassFilter" class="form-control" id="minPassFilter">
                                <option value="1" selected>1</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                                <option value="70">70</option>
                                <option value="80">80</option>
                                <option value="90">90</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label>Max Pass Filter</label>
                            <select name="maxPassFilter" class="form-control" id="maxPassFilter">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                                <option value="70">70</option>
                                <option value="80">80</option>
                                <option value="90">90</option>
                                <option value="100" selected>100</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label>Min Q30</label>
                            <select name="minq30" class="form-control" id="minq30">
                                <option value="1" selected>1</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                                <option value="70">70</option>
                                <option value="80">80</option>
                                <option value="90">90</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label>Max Q30</label>
                            <select name="maxq30" class="form-control" id="maxq30">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                                <option value="70">70</option>
                                <option value="80">80</option>
                                <option value="90">90</option>
                                <option value="100" selected>100</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label for="experiment">Experiment</label>
                            <select name="experiment" class="form-control" id="experiment">
                                <option value="All" selected>All</option>
                                <option value="Genome">Genome</option>
                                <option value="Exome">Exome</option>
                                <option value="Capture">Capture</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label for="chemistry">Chemistry</label>
                            <select name="chemistry" class="form-control" id="chemistry">
                                <option value="All" selected>All</option>
                                <option value="High300">High300</option>
                                <option value="Mid300">Mid300</option>
                                <option value="Mid150">Mid150</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="formButton" value="userRuns" class="btn qc-data-btn" id="userRunsButton">Send</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </section>

    <!-- VIEW-USER-DATA -->
    <section class="container hide" id="userRunsBg">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="user-data-lists">
                    <a href="#" id="userDataList"></a>
                    <h3>{{ username }}'s Sequencing Runs</h3> 
                    {% with messages = get_flashed_messages() %} {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %} {% endwith %}
                    {% for data in userRun %}
                    <ul class="user-run">
                        <!-- <li>Run: {{ data.run|int() }}</li> -->
                        <li>Pool: {{ data.pool|int() }}</li>
                        <li>Yield: {{ data.yield|int() }}</li>
                        <li>Cluster Density: {{ data.clusterDensity|int() }}</li>
                        <li>Pass Filter: {{ data.passFilter|int() }}</li>
                        <li>Q30: {{ data.q30|int() }}</li>
                        <li>Experiment: {{ data.experiment }}</li>
                        <li>Chemistry: {{ data.chemistry }}</li>
                    </ul>
                    {% endfor %}
                    {% for data in userData %}
                    <ul class="user-runs">
                        <!-- <li>Run: {{ data.run|int() }}</li> -->
                        <li>Pool: {{ data.pool|int() }}</li>
                        <li>Yield: {{ data.yield|int() }}</li>
                        <li>Cluster Density: {{ data.clusterDensity|int() }}</li>
                        <li>Pass Filter: {{ data.passFilter|int() }}</li>
                        <li>Q30: {{ data.q30|int() }}</li>
                    </ul>
                    {% endfor %}
                </div>
                <button type="submit" class="btn qc-data-btn" id="returnToForm">Return</button>
            </div>
        </div>
    </section>
<!-- VIEW-USER-DATA-END -->

{% block javascript %}
<script>
    var pageLocation = JSON.parse({{ pageLocation|tojson }});
    var userForm = document.getElementById("userFormBg");
    var userRuns = document.getElementById("userRunsBg");
    var returnToForm = document.getElementById("returnToForm");

    function hidePageSection(pageSection){
        if(pageSection=="userDataList"){
            userRuns.classList.remove("hide");
            userForm.classList.add("hide");
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        hidePageSection(pageLocation);
    });

   returnToForm.addEventListener("click", function(){
        userRuns.classList.add("hide");
        userForm.classList.remove("hide");
    });
</script>
{% endblock javascript %}

{% endblock content %}

