<!--FOOTER-BANNER-->
<div class="row footer-copyright">
    <div class="col-12">
        <p>2019 -<script>document.write(new Date().getFullYear());</script> &copy; Thomas Jones - All Rights Reserved</p>
    </div>
</div>
<!--FOOTER-BANNER-END-->

<!--FOOTER-NAV-->
<div class="row no-gutters footer-nav">
    <div class="col-12">
        <ul>
            <li>
                <a href="#" id="backToTop" class="back-to-top btn-float active" title="Back to top">
                    <i class="fas fa-chevron-circle-up fa-3x"></i>
                </a>
            </li>
        </ul>
        <ul>
        {% if loggedIn == False %}
            <li><a class="footer-btn footer-login-btn" href="{{ url_for('login') }}">Login</a></li>
            <li><a class="footer-btn footer-signup-btn" href="{{ url_for('signup') }}">Sign Up</a></li>
        {% elif loggedIn == True and admin == True %}
            {% if active == "adminOrUser" or active == "admin" %}
                <li><a class="footer-btn footer-login-btn" href="{{ url_for('logout', username=username) }}">Logout</a></li>
            {% elif active == "adminSelectRuns" or active == "updateRun" or active == "deleteRun" %}
                <li><a href="{{ url_for('admin', username=username) }}"><i class="fas fa-user-plus"></i>Admin</a></li>
                <li><a href="{{ url_for('adminSelectRuns', username=username) }}"><i class="fas fa-sort-amount-up"></i>Manage Runs</a></li>
                <li><a href="{{ url_for('logout', username=username) }}" class="footer-btn footer-login-btn">Logout</a></li>
            {% elif active == "adminSelectUser" or active == "adminUpdateUser" or active == "adminDeleteUser" %}
                <li><a href="{{ url_for('admin', username=username) }}"><i class="fas fa-user-plus"></i>Admin</a></li>
                <li><a href="{{ url_for('adminSelectUser', username=username) }}"><i class="fas fa-users"></i>Manage Users</a></li>
                <li><a href="{{ url_for('logout', username=username) }}" class="footer-btn footer-login-btn">Logout</a></li>
            {% endif %}
        {% elif loggedIn == True and admin == false %}
            <li><a href="{{ url_for('user', username=username) }}"><i class="fas fa-user"></i>User</a></li>
            <li><a href="{{ url_for('addUserRun', username=username) }}"><i class="fas fa-plus-circle"></i>Add Run</a></li>
            <li><a href="{{ url_for('viewUserRuns', username=username) }}"><i class="fas fa-sort-amount-up"></i>Manage Runs</a></li>
            <li><a href="{{ url_for('logout', username=username) }}" class="footer-btn footer-login-btn">Logout</a></li>
        {% endif %}
        </ul>
    </div>
</div>
<!--FOOTER-NAV-END-->