<!--NAVBAR-->
<nav class="navbar navbar-expand-sm navbar-dark">
    {% if loggedIn == False %}
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='images/qc-metrics-analyser-logo.png') }}" alt="logo">
        </a>
    {% elif loggedIn == True and admin == True %}
        <a class="member-status admin" href="{{ url_for('admin', username=username) }}"><i class="fas fa-user-plus"></i><span>{{ username }}</span></a></li>
    {% elif loggedIn == True and admin == False %}
        <a class="member-status user" href="{{ url_for('user', username=username) }}"><i class="fas fa-user"></i><span>{{ username }}</span></a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto">
            {% if loggedIn == False and active != "errorPage" %}   
                <li class="nav-item"><a class="nav-link login-btn" href="{{ url_for('login') }}">Login</a></li>
                <li class="nav-item"><a class="nav-link login-btn signup-btn" href="{{ url_for('signup') }}">Sign Up</a></li>
            {% elif loggedIn == True and admin == True %}
                {% if active == "adminOrUser" or active == "admin" or active == "adminLogin" %}
                    <li class="nav-item"><a class="nav-link login-btn" href="{{ url_for('logout', username=username) }}">Logout</a></li>
                {% elif active == "adminSelectRuns" or active == "updateRun" or active == "deleteRun" %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('adminSelectRuns', username=username) }}"><i class="fas fa-sort-amount-up"></i>Manage Runs</a></li>
                    <li class="nav-item"><a class="nav-link login-btn" href="{{ url_for('logout', username=username) }}">Logout</a></li>
                {% elif active == "adminSelectUser" or active == "adminUpdateUser" or active == "adminDeleteUser" %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('adminSelectUser', username=username) }}"><i class="fas fa-users"></i>Manage Users</a></li>
                    <li class="nav-item"><a class="nav-link login-btn" href="{{ url_for('logout', username=username) }}">Logout</a></li>
                {% endif %}
            {% elif loggedIn == True and admin == false %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('addUserRun', username=username) }}"><i class="fas fa-plus-circle"></i>Add Run</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('viewUserRuns', username=username) }}"><i class="fas fa-sort-amount-up"></i>Manage Runs</a></li>
                <li class="nav-item"><a class="nav-link login-btn" href="{{ url_for('logout', username=username) }}">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<!--NAVBAR-END-->

<!--BANNER-->
<div class="banner">
    <div class="banner-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>QC Metrics Analyser</h1>
                    <h2>{{ title|default("NEXT GENERATION SEQUENCING", true) }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--BANNER-END-->
